body {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  background-color: #fdfbfa;
}

header {
  text-align: center;
  background-image: linear-gradient(rgba(0, 22, 57, 0.4), rgba(0, 22, 57, 0.4)),
    url("../images/nlyhkbk5vdu11.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

header a {
  text-decoration: none;
  color: #272044;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 300ms ease-in-out;
}

header a:hover {
  color: #272044;
  background-color: #d0c8cd;
}

h1 {
  padding-top: 20px;
  font-size: 80px;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  color: #fdfbfa;
}

h2 {
  color: #272044;
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 60px;
  color: #fdfbfa;
}

h4 {
  color: #27204450;
  font-weight: 700;
  letter-spacing: 0.1em;
}

p {
  color: #27204480;
  font-weight: 400;
  text-justify: distribute;
  line-height: 1.3em;
}

section.book-recommendations {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px;
  background-color: #f1e7e5;
  text-align: center;
  color: #d0c8cd;
}

section.image-gallery {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px;
  background-color: #fdfbfa;
  text-align: center;
  color: #272044;
}

.book-recommendations h2 {
  color: #828096;
  margin-top: 0;
}

h5 {
  color: #272044;
  font-size: 18px;
  margin-bottom: 50px;
}

footer {
  background-image: linear-gradient(
      rgba(71, 83, 137, 0.7),
      rgba(71, 83, 137, 0.7)
    ),
    url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

footer h4 {
  color: white;
}

footer p {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

footer a:hover {
  font-weight: 600;
}

.grid-1 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  margin: 0 auto;
  padding: 100px 0;
}
.about-artist-text {
  max-width: 500px;
}

.artist-portrait {
  width: 100%;
  display: block;
  max-width: 800px;
}

.book-card {
  max-width: 400px;
  background-color: white;
  margin: 60px auto;
}

.book-card img {
  max-width: 400px;
}

.card-text {
  margin: 10px 25px;
}
.card-text p {
  text-align: left;
  font-size: 14px;
  line-height: 1.6em;
}
.card-text h5 {
  margin-bottom: 0;
  font-size: 21px;
}

.card-btn a {
  text-decoration: none;
  color: white;
  background-color: #4c4568;
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 30px;
}

.card-btn {
  padding: 30px 0 50px 0;
}

.grid-2 {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3 {
  margin: 60px auto;
  max-width: 1400px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.gallery-img {
  width: 100%;
}

.grid-4 {
  margin: 60px 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.column {
  max-width: 440px;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid-1 {
    padding: 25px;
  }

  .grid-3,
  .grid-4 {
    margin: 10px 0;
  }

  .grid-4 {
    padding: 10px 25px;
  }

  .book-card {
    max-width: 95%;
    margin: 10px auto;
  }

  .book-card img {
    max-width: 100%;
  }

  section.image-gallery {
    padding: 20px;
  }

  section.book-recommendations {
    padding: 20px;
  }
}
